<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            display: flex;
            justify-content: right;
        }
        .top-container{
            display: flex;
            justify-content: center;
            height: 100vh;
            align-items: center;
        }
        p {
          text-align: right;
          font-size: 30px;
        }
        #logout{
            padding: 27px;

        }
        .option{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        
        <div><p id="demo"></p></div>
        <div id="logout"><li style="list-style: none;"><a href="/Logout"><i class="fa fa-sign-out" aria-hidden="true" style="font-size: 3rem;"></i></a></li></div>
    </div>
    
    
   <div class="top-container">
    <table border="1">
        <tr>
            <th>eId</th>
            <th>eName</th>
            <th>eAge</th>
            <th>ePhone</th>
            <th>option</th>
        </tr>
        <tr>
            <td><input type="text" style="border: none;"></td>
            <td><input type="text" style="border: none;"></td>
            <td><input type="text" style="border: none;"></td>
            <td><input type="text" style="border: none;"></td>
            <td><div class="option">
                <div style="padding-left: 3px;"><button style="background: none; border: none;"><i class="fa fa-pencil-square-o" aria-hidden="true" style="padding: 8px;"></i>Edit</button></div>
                <div><button style="background: none; border: none;"><i class="fa fa-trash" aria-hidden="true" style="padding: 8px;"></i>Delete</button></div>
            </div></td>
        </tr>
        <tr>
            <td><input type="text" style="border: none;"></td>
            <td><input type="text" style="border: none;"></td>
            <td><input type="text" style="border: none;"></td>
            <td><input type="text" style="border: none;"></td>
            <td><div class="option">
                <div style="padding-left: 3px;"><button style="background: none; border: none;"><i class="fa fa-pencil-square-o" aria-hidden="true" style="padding: 8px;"></i>Edit</button></div>
                <div><button style="background: none; border: none;"><i class="fa fa-trash" aria-hidden="true" style="padding: 8px;"></i>Delete</button></div>
            </div></td>
        </tr>
        <tr>
            <td><input type="text" style="border: none;"></td>
            <td><input type="text" style="border: none;"></td>
            <td><input type="text" style="border: none;"></td>
            <td><input type="text" style="border: none;"></td>
            <td><div class="option">
                <div style="padding-left: 3px;"><button style="background: none; border: none;"><i class="fa fa-pencil-square-o" aria-hidden="true" style="padding: 8px;"></i>Edit</button></div>
                <div><button style="background: none; border: none;"><i class="fa fa-trash" aria-hidden="true" style="padding: 8px;"></i>Delete</button></div>
            </div></td>
        </tr>
        <tr>
            <td><input type="text" style="border: none;"></td>
            <td><input type="text" style="border: none;"></td>
            <td><input type="text" style="border: none;"></td>
            <td><input type="text" style="border: none;"></td>
            <td><div class="option">
                <div style="padding-left: 3px;"><button style="background: none; border: none;"><i class="fa fa-pencil-square-o" aria-hidden="true" style="padding: 8px;"></i>Edit</button></div>
                <div><button style="background: none; border: none;"><i class="fa fa-trash" aria-hidden="true" style="padding: 8px;"></i>Delete</button></div>
            </div></td>
        </tr>
        <tr>
            <td><input type="text" style="border: none;"></td>
            <td><input type="text" style="border: none;"></td>
            <td><input type="text" style="border: none;"></td>
            <td><input type="text" style="border: none;"></td>
            <td><div class="option">
                <div style="padding-left: 3px;"><button style="background: none; border: none;"><i class="fa fa-pencil-square-o" aria-hidden="true" style="padding: 8px;"></i>Edit</button></div>
                <div><button style="background: none; border: none;"><i class="fa fa-trash" aria-hidden="true" style="padding: 8px;"></i>Delete</button></div>
            </div></td>
        </tr>
    </table>
    <script>
        // Set the date we're counting down to
        var countDownDate = new Date().getTime()+ 120000;
        
        // Update the count down every 1 second
        var x = setInterval(function() {
        
          // Get today's date and time
          var now = new Date().getTime();
            
          // Find the distance between now and the count down date
          var distance = countDownDate - now;
            
          // Time calculations for minutes and seconds

          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            
          // Output the result in an element with id="demo"
          document.getElementById("demo").innerHTML =minutes + "m " + seconds + "s ";
            
          // If the count down is over, write some text 
          if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
            document.getElementById("aid").setAttribute('href','./index.html');
            if(Country.selected){
                if(passport.checked){
                    document.getElementById('result').innerHTML="2";
                }
            }
          }
        }, 1000);
        </script>
   </div>
   <li><a href="/register">Sign up!</a></li>
    <li><a href="/login">Login</a></li>
    
</body>
</html>
