<h1>sign up form</h1>

<form action="/register" method="post">
    <input type="text" name="username" placeholder="username"><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="date" name="dob" placeholder="dob"><br>
    <input type="text" name="email" placeholder="email"><br>
    <input type="password" name="age" placeholder="age"><br>
    <button>Submit</button>
</form>

<h1>This is home page</h1>

<li><a href="/register">Sign up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>